[submodule "Reinforcement-Learning-Inspired-Adjustment-Module"]
	path = Reinforcement-Learning-Inspired-Adjustment-Module
	url = https://github.com/SVG-campus/Reinforcement-Learning-Inspired-Adjustment-Module.git
[submodule "Economics/Economics/Reinforcement-Learning-Inspired-Adjustment-Module"]
	path = Economics/Economics/Reinforcement-Learning-Inspired-Adjustment-Module
	url = https://github.com/SVG-campus/Reinforcement-Learning-Inspired-Adjustment-Module.git
