[submodule "Reinforcement-Learning-Inspired-Adjustment-Module"]
	path = Reinforcement-Learning-Inspired-Adjustment-Module
	url = https://github.com/SVG-campus/Reinforcement-Learning-Inspired-Adjustment-Module.git
[submodule "Economics/Economics/Reinforcement-Learning-Inspired-Adjustment-Module"]
	path = Economics/Economics/Reinforcement-Learning-Inspired-Adjustment-Module
	url = https://github.com/SVG-campus/Reinforcement-Learning-Inspired-Adjustment-Module.git
[submodule "Economics/Entropy-Regularization-Module"]
	path = Economics/Entropy-Regularization-Module
	url = https://github.com/SVG-campus/Entropy-Regularization-Module.git
[submodule "Economics/Reinforcement-Learning-Inspired-Adjustment-Module"]
	path = Economics/Reinforcement-Learning-Inspired-Adjustment-Module
	url = https://github.com/SVG-campus/Reinforcement-Learning-Inspired-Adjustment-Module.git
[submodule "Economics/CVaR-Adjusted-Update-Module"]
	path = Economics/CVaR-Adjusted-Update-Module
	url = https://github.com/SVG-campus/CVaR-Adjusted-Update-Module.git
[submodule "Economics/Autocorrelation-Penalty-Module"]
	path = Economics/Autocorrelation-Penalty-Module
	url = https://github.com/SVG-campus/Autocorrelation-Penalty-Module.git
[submodule "Economics/Wasserstein-Distributionally-Robust-Optimization-DRO-Module"]
	path = Economics/Wasserstein-Distributionally-Robust-Optimization-DRO-Module
	url = https://github.com/SVG-campus/Wasserstein-Distributionally-Robust-Optimization-DRO-Module.git
[submodule "Economics/Unified-Robust-Duality-Informed-Convex-Equilibrium-Allocation-Theory"]
	path = Economics/Unified-Robust-Duality-Informed-Convex-Equilibrium-Allocation-Theory
	url = https://github.com/SVG-campus/Unified-Robust-Duality-Informed-Convex-Equilibrium-Allocation-Theory.git
